<h1>店舗名：<%= @shop.name %></h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card" >
    <%if @shop_image.present? %>
      <%= image_tag @shop_image.image.url ,height: '200px',width: '200px'  %>
      <% else %>
        <image src="/assets/NoImage.png" style = "height:200px; width:200px;" alt="" %>
      <% end %>
    </div>
    <p class="mt-3"><%= link_to '写真一覧', shop_images_path(@shop) ,class: 'btn btn-primary btn-block'%></p>
    <%= render 'favorites/fav_button', shop: @shop %>

  </div>
  <div class="col-sm-8">
    <table class="table">
      <tr>
        <td>詳細</td>
        <td class="text-left"><%= @shop.content %></td>
      </tr>
      <tr>
        <td>営業時間</td>
        <td class="text-left"><%= @shop.business_hours %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td class="text-left"><%= @shop.address %></td>
      </tr>
      <tr>
        <td>HP</td>
        <td class="text-left"><%= @shop.hp %></td>
      </tr>
    </table>
  </div>
</div>
<div class= "col-sm-8 mt-3">
  <p><%= link_to '口コミを投稿する',new_shop_review_path(@shop)  ,class: 'btn btn-primary btn-block'%></p>
  <ul class="list-unstyled">
    <% @reviews.each do |r| %>
      <li class="media mb-3">
      <% if r.user.image?%>
        <!--<img class="mr-2 rounded" src="<%#= gravatar_url(r.user, { size: 50 }) %>" alt="">-->
        <%= image_tag r.user.image.url ,height: '70px',width: '70px'%>
      <% else %>
        <image src="/assets/NoImage.png" style = "height:70px; width:70px;" alt="" %>
      <% end %>
        <div class="media-body border">
          <div>
            <%= r.user.name %>
          </div>
          <div class="border">
            <p><%= r.review %></p>
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate @reviews %>
  </ul>
</div>