
<h1>店舗名：<%= @shop.name%></h1>
<h2>口コミを入力してください</h2>
  <div class = "col-sm-8">
    <%= form_with(model: [@shop,@review],method: :post, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :review, '口コミ' %>
        <%= f.text_area :review, class: 'form-control', rows: 5 %>
        <%= hidden_field_tag :shop_id, @shop.id %>
      </div>
        <%= f.submit '口コミを投稿する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
